
.regForm {
}

div.regFrame {
    display: flex;
    flex-flow: column nowrap;
    height: 330px;
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.regLogo {
    width: 30%;
    height: 30%;
}

.registerText {
    border: 0px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    font-size: 15px;
}

.styledInput {
    padding: 220px;
}

.aligner {
    display: flex;
    flex-flow: inherit;
}

.registerCheck {
    border: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    display: flex;
    align-items: center;
}


.registerCheck>:nth-child(3) {
   margin-left: 60px;
}

.radioLabel:hover {
    color:darkolivegreen;
}

.radioLabel {
    font-weight: bold;
    font-size: 15px;
}

input[name="isBike"] {
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;
    top: 4px;
    color:tomato;
}

input[name="isBike"]:checked {
    border: 6px solid #1982ea;
}

.buttonAlign {
    margin-top: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.regButtons {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

#acceptButton {
    margin-right: 10%;
    margin-left: 19%;
}

