img {
  border-radius: 50%;
  border: solid 5px white;
  height: 50px;
  width: 50px;
}

.onlySupplier {
  display: flex;
  padding: 25px 100px;
  margin: 10px 30px;
  justify-content: space-between;
  border: solid 1px gray;
  border-radius: 5px;
}

.containerElement {
  display: flex;
  align-items: center;
}

.star {
  color: #f8ce0b;
  display: inline;
}

.empty {
  color: #f8ce0b;
  display: inline;
}
