img {
  border-radius: 50%;
  border: solid 5px white;
  height: 50px;
  width: 50px;
}

.onlyService {
  display: flex;
  padding: 25px 70px;
  margin: 10px 30px;
  justify-content: center;
  border: solid 1px gray;
  border-radius: 5px;
}

.containerElements {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerElement {
  padding: 0 20px;
}
